[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = {version = "*", extras = ["cli"]}
notebook = "<7"
jupyter_contrib_nbextensions = "*"
ipywidgets = "*"
